{{ partial "docstart.html" . }}
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
        {{ partial "bodystart_2cols.html" . }}
        <div class="w-container content">

            <!-------------------------------------------------------------------------------->

            <div class="col-2-3">
                <div class="intro">
                {{ range where .Data.Pages "Title" "Home" }}
                    {{ .Content }}
                {{ end }}
                </div>
            </div>

            <!-------------------------------------------------------------------------------->

            <div class="col-1-3 blog-feed">
                {{ range where .Data.Pages "Title" "Right Column" }}
                    {{ .Content }}
                {{ end }}
            </div>

            <!-------------------------------------------------------------------------------->
                <!-- START: RIGHT COLUMN -->


                <div class="col-1-3 rightcoll">

                        <h4>Latest publications</h4>
                <div class="card blog-item">
                        {{ range first 4 (sort (where (where .Site.Pages "Type" "publication") "Params.preprint" false) .Params.date "desc" ) }}
                        {{ if .Params.author }}
                                <a href="{{ .RelPermalink }}">
                                    {{ .Title }}
                                </a>{{ .Params.author }}. <i>{{ .Params.journal }}</i>&nbsp;{{ .Params.volume }}:{{ .Params.number }}&nbsp;({{ .Params.year }})<p/>
                            <div class="clearfix"></div>
                        {{ end }}
                        {{ end }}
                        <div style="width=100%"><a href="/publication/" style="float:right">More publications &raquo;</a></div>
                            <div class="clearfix"></div>
				</div>

                </div>


                <!-- END: RIGHT COLUMN -->
        </div>
        {{ partial "bodyend_2cols.html" . }}
    {{ partial "footer.html" . }}
{{ partial "docend.html" . }}
